html,body {
 	background-image: url("https://megagames.com/sites/default/files/game-images/TCINEMAROSA.jpg");
  	background-size: cover;
  	background-repeat: no-repeat;
}

#myContainer {
    background: rgba(0,0,0,0.7);
    margin-top: 70px;
    height: 680px;
    width: 370px;
    margin-bottom: 100px;
}

#cardHeader {
	font-size: 40px;
	color: white;
}

.margina {
  margin-right: 20px;
}

textarea {
  resize: none;
}

button {
	margin-top: 20px;
	margin-left: 10px;
	float: right;
}

body {overflow-x: hidden;}

.myLabelText {
    color: white;
}

a { 
    font-size: 18px;
    width: max-content;
    color: white;
}

a:hover {
    color: white;
}

footer {
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: rgba(52, 58, 64);
    padding: 10px;
    width: 100%;
}