#slika {
	background-size: cover;
    background-repeat: no-repeat;
    height:260px;
}

.margina {
  margin-right: 20px;
}

body {overflow-x: hidden;}

a { 
  font-size: 18px;
  width: max-content;
}

.margina {
  margin-right: 20px;
}

section{
    color: white;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(
        #343a40,
        rgba(105, 151, 176, 0.95)
      ), #343a40;
    background-size: cover;
    background-position: top;
    width: 100vw;
    height: 100vh;
    padding: 75px 100px;
    text-align: center;

}

#naslov{
    margin-top: 8vh;
    color: white;
    font-weight: 600;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: none;
    margin-bottom: 10vh;
}

#pretragaDugme{
    color: rgba(255, 255, 255, 0.60);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    cursor:pointer;
    user-select: none;
}

#pretragaDugme:hover{
    color: white;
}

#pretraga{
    display: none;
    margin-top: 7vh;
    padding: 10px;
    border-radius: 10px;
    background: #f16268;
    float: left;
}

#searchDugme{
    background-color: #343a40;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
  }

.my-custom-scrollbar {
    float: left;
    width: 100%;
    height: 400px;
    overflow: auto;
    margin-top: 5vh;
    }
.table-wrapper-scroll-y {
    display: block;
    }

#tabelaKorisnika{
    background-color: #343a40;
}

#zaglavljeTabeleKorisnika{
    background: #f16268;
    color: white;
}

footer{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgba(52, 58, 64);
    padding: 10px 0;
    width: 100%;
}