.margina {
  margin-right: 20px;
}

body {overflow-x: hidden;}

a { 
    font-size: 18px;
    width: max-content;
    color: white;
}

a:hover {
    color: white;
}

#drugaFaza{
	height: 900px;
    background-image: url("https://www.theicescreen.com/images/confort4.jpg?crc=254281104");
    background-size: cover;
  	background-repeat: no-repeat;
    text-align: center;
}

#trecaFaza{
	height: 100%;
    background-image: url("https://www.theicescreen.com/images/confort4.jpg?crc=254281104");
    background-size: cover;
  	background-repeat: no-repeat;
    text-align: center;
}

#projekcija{
	margin-top: 70px;
  	display: inline-block;
}

#odabirSedista {
	float: left;
}

#platno {
    overflow: hidden;
    text-align: center;
    background: #a60000;
	position: absolute;
	margin-left: 50px;
	margin-top: 20px;	
	height: 54px;
	width: 750px;
}

#sala {
	width: 790px;
	height: 700px;
	margin-left: 30px;
	margin-top: 90px;
	border-top: 3px solid #2a2a2a;
	border-bottom: 3px solid #2a2a2a;
	border-right: 3px solid #2a2a2a;
	border-left: 3px solid #2a2a2a;
	background: #dddddd;
}

ol {
    list-style: none;
    padding: 0;
}

#row1 {
	margin-top: 130px;
}

.seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-left: 7.2%;
    margin-top: 1.5%;
}
  
.seat {
    display: flex;
    flex: 0 0 14.28571428571429%;
    padding: 11px;
    position: relative;
}

input[type="checkbox"] {
      position: absolute;
      opacity: 0;
}
input[type="checkbox"]:checked, 
.seatLabel:hover,
.seatLabel:active{
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

.seatLabel {
	color: white;
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 0.8rem;
	padding: 5px;
	background: #343a40;
	border-radius: 5px;
	animation-duration: 300ms;
	animation-fill-mode: both;
}

.seatLabel:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #343a40;
}

#platnoTekst {
	font-size: 30px;
	margin-top: 10px;
	color: white;
}

#myContainer {
    background: rgba(0,0,0,0.7);
    color: white;
    margin-top: 70px;
    height: 600px;
    width: 300px;
    margin-bottom: 100px;
    text-align: left;
}

#myContainer1 {
    background: rgba(0,0,0,0.7);
    color: white;
    margin-top: 30px;
    height: 900px;
    width: 300px;
    margin-bottom: 100px;
    text-align: left;
}

#cardHeader {
	font-size: 40px;
	color: white;
}

.myLabelText {
	margin-top: 20px;
}

button {
	margin-top: 60px;
	margin-left: 15px;
	float: right;
}

footer {
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: rgba(52, 58, 64);
    padding: 10px;
    width: 100%;
}

@-webkit-keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}
  
@keyframes rubberBand {
	0% {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
	
	30% {
	  -webkit-transform: scale3d(1.25, 0.75, 1);
	  transform: scale3d(1.25, 0.75, 1);
	}
	
	40% {
	  -webkit-transform: scale3d(0.75, 1.25, 1);
	  transform: scale3d(0.75, 1.25, 1);
	}
	
	50% {
	  -webkit-transform: scale3d(1.15, 0.85, 1);
	  transform: scale3d(1.15, 0.85, 1);
	}
	
	65% {
	  -webkit-transform: scale3d(0.95, 1.05, 1);
	  transform: scale3d(0.95, 1.05, 1);
	}
	
	75% {
	  -webkit-transform: scale3d(1.05, 0.95, 1);
	  transform: scale3d(1.05, 0.95, 1);
	}
	
	100% {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
}
  
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}