html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/8/9/0/374822.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }

#myContainer {
    background: rgba(0,0,0,0.5);
    margin-top: 70px;
    height: 450px;
    width: 330px;
}

button {margin-top: 20px;}

body {overflow-x: hidden;}

.myLabelText {
    color: white;
}

.margina {
    margin-bottom: 15px;
    width: 300px;
}

a { 
    font-size: 18px;
    width: max-content;
    color: white;
}

a:hover {
    color: white;
}

section{
    color: white;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-position: top;
    width: 100vw;
    height: 100vh;
    padding: 75px 100px;
    text-align: center;
}

#naslov{
    margin-top: 8vh;
    color: white;
    font-weight: 600;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: none;
    margin-bottom: 10vh;
}

.my-custom-scrollbar {
    float: left;
    width: 100%;
    height: 400px;
    overflow: auto;
    margin-top: 5vh;
    }
.table-wrapper-scroll-y {
    display: block;
    }

#tabelaKarata{
    background-color: white;
}

#zaglavljeTabeleKarata{
    background: #f16268;
    color: white;
}

footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgba(52, 58, 64);
    padding: 10px 0;
    width: 100%;
}